body {
    font-family: Arial, sans-serif;
    background: linear-gradient(152deg, rgba(18, 163, 134, 0.678) 0%, rgb(61, 54, 39) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .converter {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(152deg, rgba(75, 81, 58, 0.874) 0%, rgb(114, 180, 122) 100%);
  }
  
  h2 {
    margin-top: 0;
    color: #333;
  }
  
  input[type="text"], select {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    background-color: #3e4597;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #resultContainer {
    margin-top: 20px;
  }
  